<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Listener Demo</display-name>

    <context-param>
        <param-name>username</param-name>
        <param-value>bella</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>bella</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://192.168.0.3:3306/hibernatedemo2</param-value>
    </context-param>

</web-app>