<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<!--    <filter>-->
<!--        <filter-name>RequestLoggingFilter</filter-name>-->
<!--        <filter-class>miss.xing.filter.RequestLoggingFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>author</param-name>-->
<!--            <param-value>Miss Xing</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>filter-name</param-name>-->
<!--            <param-value>RequestLoggingFilter</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>RequestLoggingFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--        <dispatcher>INCLUDE</dispatcher>-->
<!--        <servlet-name>welcomeservlet</servlet-name>-->
<!--    </filter-mapping>-->

<!--    <filter>-->
<!--        <filter-name>AuthenticationFilter</filter-name>-->
<!--        <filter-class>miss.xing.filter.AuthenticationFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>AuthenticationFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

<!--    <filter-mapping>-->
<!--        <filter-name>loggingfilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

<!--    <filter-mapping>-->
<!--        <filter-name>authfilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>